<div class='container-fluid tooldetail' data-ng-init="init()">
    <div class='row'>
        <div class='col-lg-12 col-md-6 col-sm-12'>
            <div class='row tool-detail-container'>
                <div class='col-xs-12'>
                    <div class='panel panel-default tools-panel'>
                        <div class='panel-heading'>
                            <span id="toolNameId"><b>{{toolId}} - {{toolName}}</b></span>
                            <div class="pull-right" ui-sref="app.plant" id="closePage">
                                <span class="glyphicon glyphicon-remove" style="cursor: pointer" ui-sref="app.plant"/>
                            </div>
                        </div>
                        <div class='panel-body' style="overflow-x: auto; overflow-y: auto">
                            <div class='col-lg-7 col-md-6 col-sm-12'>
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        <div class='panel panel-default'>
                                            <div class='panel-body' ng-repeat="tool in toolDetails" style="height: 100%">
                                                <div class='col-xs-4'>
                                                    <img id="toolImageId" alt="Image is not found" style="width:100%;height: 100%" ng-src="{{toolImage || 'img/ToolImageNotAvailable.PNG'}}" onerror="this.src='/img/ToolImageNotAvailable.PNG'">
                                                </div>
                                                <div class='col-xs-6' style="margin-left: 10%">
                                                    <div  style="width:100%;height: 100%">
                                                        <table style="width:100%;height: 100%" id="toolDetailsId">
                                                            <tbody>
                                                            <tr>
                                                                <td id="companyLabel">Company Name:</td>
                                                                <td id="companyText">{{tool.location.company}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="countryLabel">Country:</td>
                                                                <td id="countryText" class="toolDetailsText">{{tool.location.country}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="cityLabel">City:</td>
                                                                <td id="cityText" class="toolDetailsText">{{tool.location.city}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="siteIdLabel">Site ID:</td>
                                                                <td id="siteIdText" class="toolDetailsText">{{tool.siteId}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="toolIdLabel">Tool ID:</td>
                                                                <td id="toolIdText" class="toolDetailsText">{{toolId}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="toolStateLabel">Tool State:</td>
                                                                <td id="toolStateText" class="toolDetailsText">{{tool.assets[0].toolState}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="currentAlarmLabel" class="toolDetailsRow">Current Alarm Number:</td>
                                                                <td id="currentAlarmText" class="toolDetailsText">
                                                                    {{tool.assets[0].alarms[0].alarmNumber}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="currentAlarmTextLabel">Current Alarm Text:</td>
                                                                <td id="currentToolAlarmText"  class="toolDetailsText">
                                                                    {{tool.assets[0].alarms[0].message}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="alarmLabel">Alarm Level:</td>
                                                                <td  id="alarmText" class="toolDetailsText">
                                                                    {{tool.assets[0].alarms[0].severity}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="cycleLabel">Cycle Count:</td>
                                                                <td id="cycleText" class="toolDetailsText">{{tool.assets[0].cycleCount}}</td>
                                                            </tr>
                                                            <tr style="border-top:3em solid white;">
                                                                <td id="availabilityLabel">Tool Availability (%):</td>
                                                                <td id="availabilityText" class="toolDetailsText">{{tool.assets[0].assetAvailability | number:2}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="mtbfLabel">Tool MTBF (hours):</td>
                                                                <td id="mtbfText" class="toolDetailsText">{{tool.assets[0].meanTimeBetweenFailure/ (60*60*1000) | number:2}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="mttrLabel" >Tool MTTR (hours):</td>
                                                                <td id="mttrText" class="toolDetailsText">{{tool.assets[0].meanTimeToRepair/ (60*60*1000) | number:2}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="mcbfLabel">Tool MCBF (cycles):</td>
                                                                <td id="mcbfText" class="toolDetailsText">{{tool.assets[0].meanCycleBetweenFailure}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="lastDateLabel">Last Maint. Date:</td>
                                                                <td id="lastDateText" class="toolDetailsText">{{tool.assets[0].lastMaintDate | date:'MM/dd/yyyy' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="maintDateLabel">Next Maint. Date:</td>
                                                                <td id="maintDateText" class="toolDetailsText">{{tool.assets[0].nextMaintDate | date:'MM/dd/yyyy'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td id="maintCyclesLabel">Next Maint. Cycles:</td>
                                                                <td id="maintCyclesText" class="toolDetailsText">{{tool.assets[0].nextMaintCycle}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row tool-availability-container'>
                                    <div class='col-xs-12'>
                                        <div class='panel panel-default availability-panel'>
                                            <div class='panel-heading'><b>Sensor Readings</b>
                                                <div class="pull-right">
                                                    <!--<span class="glyphicon glyphicon-refresh"id="refreshHistory" style="cursor:pointer"></span>-->
                                                </div>
                                            </div>
                                            <div class='panel-body'>
                                                <div class="col-xs-9" ng-if="sensorSelected">
                                                    <input type="hidden" id="axisIndicators">X-axis: Time (HH:mm:ss)</input>
                                                    <input type="hidden" id="yaxisIndicators">Y-axis: {{sensorLabel}} in {{sensorUnits}} </input>
                                                </div>
                                                <div class="col-xs-3" ng-if="sensorSelected">
                                                    <input type="hidden" id="cadenceIndicator">Cadence: {{cadence}} seconds</input>
                                                </div>
                                                <div id="toolAvailability" ng-if="invalidOption"></div>
                                                <div>
                                                    <div class="col-xs-6">
                                                        <label for="sensorSelect" id="sensorNameLabel">Sensor Name:</label>
                                                        <select class="form-control" id="sensorSelect" ng-model="itemSelected">
                                                            <option value="NoSensor">--Select Sensor Type--</option>
                                                            <option ng-repeat="sensor in sensors"
                                                                    value="{{sensor.sensorId}}">{{sensor.sensorName}}-{{sensor.valueLabel}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-5 col-md-6 col-sm-12'>
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        <div class='panel panel-default'>
                                            <div class='panel-heading' id="snapshotHeader">
                                                <b id="snapshotText">Datapoint Snapshot</b>
                                                <div class="pull-right">
                                                    <span class="glyphicon glyphicon-refresh" id="refreshSnapshot" style="cursor:pointer"></span>
                                                    <i class="fa fa-refresh fa-spin" ng-show="refreshProgress"></i>
                                                </div>
                                            </div>
                                            <div class='panel-body'>
                                                <div id="datapoint"  ng-repeat="tool in toolDetails">
                                                    <div class="col-md-6">
                                                        <table id="datapointSnapshotId">
                                                            <tbody ng-repeat="curReading in tool.assets[0].currentSensorReadings">
                                                            <tr ng-repeat="sensor in tool.assets[0].sensors" ng-if="sensor.sensorId == curReading.sensorId">
                                                                <td style="padding-right: 5px;">{{sensor.valueLabel}}:</td>
                                                                <td style="padding-right: 5px;">{{curReading.sensorReading}}</td>
                                                                <td>{{sensor.valueUnits}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-12'>
                                        <div class='panel panel-default'>
                                            <div class='panel-heading' id="toolHistoryHeader">
                                                <b id="toolHistoryText">Tool State History</b>
                                                <div class="pull-right">
                                                    <span class="glyphicon glyphicon-refresh" id="refreshHistory" style="cursor:pointer"></span>
                                                </div>
                                            </div>
                                            <div class='panel-body' style="overflow-x: auto; overflow-y: auto">
                                                <div>
                                                    <div class="customTable" style="max-height: 500px; overflow-y: auto; max-width: 100%">
                                                        <table class="table" id="toolHistoryId">
                                                            <thead class="active">
                                                            <tr>
                                                                <th id="dateHistory">Date</th>
                                                                <th id="timeHistory">Time</th>
                                                                <th id="stateHistory">Tool State</th>
                                                                <th id="alarmHistory">Alarm</th>
                                                                <th id="messageHistory">Message</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody ng-repeat="toolHistory in toolsHistory">
                                                            <tr ng-repeat="history in toolHistory">
                                                                <td><span>{{history.timestamp | date:'MM/dd/yyyy' }}</span></td>
                                                                <td><span>{{history.timestamp | date:'HH:mm:ss' }}</span></td>
                                                                <td>{{history.toolState}}</td>
                                                                <td ng-repeat="alarm in history.alarms track by $index">
                                                                    <span>{{alarm.severity}}</span>
                                                                </td>
                                                                <td ng-if="history.alarms == '' || history.alarms == null"></td>
                                                                <td ng-repeat="alarm in history.alarms track by $index">
                                                                    <span>{{alarm.message}}</span>
                                                                </td>
                                                                <td ng-if="history.alarms == '' || history.alarms == null"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>