<div class='col-xs-12' id="criticalAlarmsTable">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Filter.." ng-model="filterCriteria" id="filterAlarmData">
        <div class="input-group-addon" ng-click="clearFilter()" id="clearAlarmData"><span class="glyphicon glyphicon-remove" ng-click="clearFilter()"></span></div>
    </div>
    <div class="customTable">
        <table class="table">
            <thead class="active">
            <tr>
                <th>Time</th>
                <th>Message</th>
                <th>Site ID</th>
                <th>Location</th>
                <th>Tool ID</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>00:00 AM</td>
                <td>On Fire</td>
                <td>12345</td>
                <td>Boston, MA</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>