<div class='container-fluid plant' data-ng-init="init()">
    <div id="actionDanger" style="margin-top:5px;" class="alert alert-danger">
        {{ErrorMessage}}
    </div>
    <div class='row'>
        <div class='col-lg-5 col-md-6 col-sm-12'>
            <div class='row map-container'>
                <div class='col-xs-12'>
                    <div class='panel panel-default tools-panel'>
                        <div class='panel-heading'>
                            <ul class="nav nav-pills nav-justified">
                                <li class="active"  id="tool"><a href="" ng-click="showTools()" data-toggle="tab">Tools</a></li>
                                <li id="alarm"><a href data-toggle="tab" ng-click="showAlarms()">Alarms</a></li>
                                <li id="sites"><a href data-toggle="tab" ng-click="showSites()">Sites</a></li>
                            </ul>
                        </div>
                        <div class='panel-body' style="overflow-x: auto; overflow-y: auto">
                            <div id="toolsTab" ng-show="isTools">
                                <div class='panel-heading'><strong>{{toolsTabTitle}}</strong>
                                    <span ng-if="fromSites" class="fa fa-times fa-1x pull-right" ng-click="resetToolsTab()"></span>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Filter.." ng-model="query" id="filterData">
                                    <div class="input-group-addon" ng-click="clearFilter()" id="clearData"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="clearFilter()"></span></div>
                                </div>
                                <div class="customTable">
                                    <table class="table" id="toolsTable">
                                        <thead class="active">
                                        <tr>
                                            <th id="toolIdHeader">
                                                <a href="" ng-click="orderByToolField=sorterFunc; reverseToolSort = !reverseToolSort">
                                                    Tool ID <span ng-show="orderByToolField == sorterFunc"><span ng-show="!reverseToolSort">^</span><span ng-show="reverseToolSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="toolStateHeader">
                                                <a href="" ng-click="orderByToolField= customOrder; reverseToolSort = !reverseToolSort">
                                                    Tool State <span ng-show="orderByToolField == customOrder"><span ng-show="!reverseToolSort">^</span><span ng-show="reverseToolSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="alarmNumberHeader">
                                                <a href="" ng-click="orderByToolField='alarms[0].alarmNumber'; reverseToolSort = !reverseToolSort">
                                                    Alarm # <span ng-show="orderByToolField == 'alarms[0].alarmNumber'"><span ng-show="!reverseToolSort">^</span><span ng-show="reverseToolSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="alarmTextHeader">
                                                <a href="" ng-click="orderByToolField='alarms[0].message'; reverseToolSort = !reverseToolSort">
                                                    Alarm Text <span ng-show="orderByToolField == 'alarms[0].message'"><span ng-show="!reverseToolSort">^</span><span ng-show="reverseToolSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="siteIdHeader">
                                                <a href="" ng-click="orderByToolField=sorterSiteFunc; reverseToolSort = !reverseToolSort">
                                                    Site ID <span ng-show="orderByToolField == sorterSiteFunc"><span ng-show="!reverseToolSort">^</span><span ng-show="reverseToolSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="cycleCountHeader">
                                                <a href="" ng-click="orderByToolField='cycleCount'; reverseToolSort = !reverseToolSort">
                                                    Cycle Count <span ng-show="orderByToolField == 'cycleCount'"><span ng-show="!reverseToolSort">^</span><span ng-show="reverseToolSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="alarmTypeHeader">
                                                <a href="">
                                                    Alarm Type
                                                </a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody ng-if="!fromSites">
                                        <tr ng-repeat="tool in tools | filter:search  |orderBy: customOrder| orderBy: orderByToolField:reverseToolSort" id="row{{tool.assetId}}" ng-mouseover="showRowTitle($event, tool)"
                                            ng-click="showToolsOrAlarmsSiteMap($event,tool.assetId)" style="cursor: pointer;height: 56px;" ng-dblclick="toolInformation(tool)" ng-class="{'selected':tool.assetId == selectedToolRow}">
                                            <td><a href="" ui-sref="app.cestooldetails({ toolID:tool.assetId })" style="text-decoration: underline">{{tool.assetId}}</a></td>
                                            <td>{{tool.toolState}}</td>
                                            <td  ng-if="tool.alarms.length>0 && tool.alarms[0].severity != 'INFO'">
                                                {{tool.alarms[0].alarmNumber}}
                                            </td>
                                            <td ng-if="tool.alarms[0].severity == 'INFO'"></td>
                                            <td ng-if="tool.alarms== null || tool.alarms.length === 0"></td>
                                            <td ng-if="tool.alarms.length>0 && tool.alarms[0].severity != 'INFO'">
                                                {{tool.alarms[0].message}}
                                            </td>
                                            <td ng-if="tool.alarms[0].severity == 'INFO'"></td>
                                            <td ng-if="tool.alarms== null || tool.alarms.length === 0"></td>
                                            <td><a href=""  style="text-decoration: underline"  ng-click="showSitesList(tool.siteId)">{{tool.siteId}}</a></td>
                                            <td>{{tool.cycleCount}}</td>
                                            <td ng-if="getAlarmStatus(tool)"><i id="status{{tool.assetId}}"></i></td>
                                            <td ng-if="!getAlarmStatus(tool)"></td>
                                        </tr>
                                        </tbody>
                                        <tbody ng-if="fromSites">
                                        <tr ng-repeat="tool in tools | filter:search |orderBy: customOrder |orderBy: orderByToolField:reverseToolSort"
                                            ng-if="tool.siteId == selectedSiteId" style="cursor: pointer;height: 56px;">
                                            <td><a href="" ui-sref="app.cestooldetails({ toolID:tool.assetId })" style="text-decoration: underline">{{tool.assetId}}</a></td>
                                            <td>{{tool.toolState}}</td>
                                            <td  ng-if="tool.alarms.length>0 && tool.alarms[0].severity != 'INFO'">
                                                {{tool.alarms[0].alarmNumber}}
                                            </td>
                                            <td ng-if="tool.alarms[0].severity == 'INFO'"></td>
                                            <td ng-if="tool.alarms== null || tool.alarms.length === 0"></td>
                                            <td ng-if="tool.alarms.length>0 && tool.alarms[0].severity != 'INFO'">
                                                {{tool.alarms[0].message}}
                                            </td>
                                            <td ng-if="tool.alarms[0].severity == 'INFO'"></td>
                                            <td ng-if="tool.alarms== null || tool.alarms.length === 0"></td>
                                            <td><a href=""  style="text-decoration: underline"  ng-click="showSitesList(tool.siteId)">{{tool.siteId}}</a></td>
                                            <td>{{tool.cycleCount}}</td>
                                            <td ng-if="getAlarmStatus(tool)"><i id="status{{tool.assetId}}"></i></td>
                                            <td ng-if="!getAlarmStatus(tool)"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="alarmsTab" ng-show="isAlarms">
                                <div ng-show="isSummary" id="summaryDiv">
                                    <div class='col-xs-12' id="criticalAlarmsDiv">
                                        <div class='panel panel-default availability-panel'>
                                            <div class='panel-body criticalAlarm' style="cursor: pointer" id="alarmsSummaryDiv" ng-click="alarmsSummary('CRITICAL',totalCriticalCount)">
                                                <div class='col-xs-6'>
                                                    <div  class='alarm-tile text-danger' id="criticalAlarms" >
                                                        <div  class='icon'>
                                                            <i class='fa fa-times-circle fa-3x'></i>
                                                            <span class='fa-3x'>{{totalCriticalCount}}</span>
                                                            <div>CRITICAL</div>
                                                        </div>
                                                        <div>
                                                            Current #: {{criticalCount}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xs-6'>
                                                    <div class='icon' style="margin-top: 5%">
                                                        <i class='fa fa-chevron-right fa-3x pull-right'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-xs-12' id="warningAlarmsDiv">
                                        <div class='panel panel-default availability-panel'>
                                            <div class='panel-body warningAlarm' style="cursor: pointer" id="warningAlarmsSummaryDiv" ng-click="alarmsSummary('WARNING', totalWarningCount )">
                                                <div class='col-xs-6'>
                                                    <div  class='alarm-tile text-warning' id="warningAlarms" >
                                                        <div class='icon'>
                                                            <i class='fa fa-exclamation-triangle fa-3x'></i> <span class='fa-3x'>{{totalWarningCount}}</span>
                                                            <div>WARNING</div>
                                                        </div>
                                                        <div>
                                                            Current #: {{warningCount}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xs-6'>
                                                    <div class='icon' style="margin-top: 5%">
                                                        <i class='fa fa-chevron-right fa-3x pull-right'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-xs-12' id="infoAlarmsDiv">
                                        <div class='panel panel-default availability-panel'>
                                            <div class='panel-body infoAlarm' style="cursor: pointer" id="infoAlarmsSummaryDiv" ng-click="alarmsSummary('INFO', totalInfoCount)">
                                                <div class='col-xs-6'>
                                                    <div  class='alarm-tile text-success' id="infoAlarms" >
                                                        <div class='icon'>
                                                            <i class='fa fa-info-circle fa-3x'></i> <span class='fa-3x'>{{totalInfoCount}}</span>
                                                            <div>INFO</div>
                                                        </div>
                                                        <div>
                                                            Current #: {{infoCount}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xs-6'>
                                                    <div class='icon' style="margin-top: 5%">
                                                        <i class='fa fa-chevron-right fa-3x pull-right'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-xs-12' id="maintenanceAlarmsDiv">
                                        <div class='panel panel-default availability-panel'>
                                            <div class='panel-body warningAlarm' style="cursor: pointer" id="maintenanceAlarmsSummaryDiv" ng-click="alarmsSummary('MAINTENANCE', totalMaintCount)">
                                                <div class='col-xs-6'>
                                                    <div  class='alarm-tile text-info' id="maintenanceAlarms" >
                                                        <div class='icon'>
                                                            <i class='fa fa-clock-o fa-3x'></i> <span class='fa-3x'>{{totalMaintCount}}</span>
                                                            <div>MAINTENANCE</div>
                                                        </div>
                                                        <div>
                                                            Current #: {{maintCount}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-xs-6'>
                                                    <div class='icon' style="margin-top: 5%">
                                                        <i class='fa fa-chevron-right fa-3x pull-right'></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="isDetail" id="alarmDetailsDiv" style="overflow-x: auto; overflow-y: auto">
                                    <div class='col-xs-12' id="criticalAlarmsTable">
                                        <div class='panel-heading' id="alarmsCountId">
                                            <strong ng-if="numberOfAlarms < 500" id="alarmsTypeId">{{alarmType}} Alarms</strong>
                                            <strong ng-if="numberOfAlarms > 500" id="alarmsCountTypeId">Top 500 {{alarmType}} Alarms</strong>
                                            <span class="fa fa-times fa-1x pull-right" id="closeAlarmDetailsId" ng-click="closeTable()" style="cursor: pointer"></span>
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Filter.." ng-model="queryAlarm" id="filterAlarmData">
                                            <div class="input-group-addon" ng-click="clearAlarmFilter()" id="clearAlarmData"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="clearAlarmFilter()"></span></div>
                                        </div>
                                        <div class="customTable">
                                            <table class="table">
                                                <thead class="active">
                                                <tr>
                                                    <th id="alarmTimeHeader">
                                                        <a href="" ng-click="orderByAlarmField='timestamp'; reverseAlarmSort = !reverseAlarmSort">
                                                            Time <span ng-show="orderByAlarmField == 'timestamp'"><span ng-show="!reverseAlarmSort">^</span><span ng-show="reverseAlarmSort">v</span></span>
                                                        </a>
                                                    </th>
                                                    <th id="alarmsMessageHeader">
                                                        <a href="" ng-click="orderByAlarmField='message'; reverseAlarmSort = !reverseAlarmSort">
                                                            Message <span ng-show="orderByAlarmField == 'message'"><span ng-show="!reverseAlarmSort">^</span><span ng-show="reverseAlarmSort">v</span></span>
                                                        </a>
                                                    </th>
                                                    <th id="alarmNumHeader">
                                                        <a href="" ng-click="orderByAlarmField='alarmNumber'; reverseAlarmSort = !reverseAlarmSort">
                                                            Alarm Number <span ng-show="orderByAlarmField == 'alarmNumber'"><span ng-show="!reverseAlarmSort">^</span><span ng-show="reverseAlarmSort">v</span></span>
                                                        </a>
                                                    </th>
                                                    <th id="alarmToolHeader">
                                                        <a href="" ng-click="orderByAlarmField=sorterFunc; reverseAlarmSort = !reverseAlarmSort">
                                                            Tool ID <span ng-show="orderByAlarmField == sorterFunc"><span ng-show="!reverseAlarmSort">^</span><span ng-show="reverseAlarmSort">v</span></span>
                                                        </a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="alarmDetails in alarmsCategory | filter:searchAlarms | orderBy:orderByAlarmField:reverseAlarmSort" ng-click="showToolsOrAlarmsSiteMap($event,alarmDetails.assetId)"
                                                    style="cursor: pointer">
                                                    <td>{{alarmDetails.timestamp | date:'HH:mm:ss'}}</td>
                                                    <td>{{alarmDetails.message}}</td>
                                                    <td>{{alarmDetails.alarmNumber}}</td>
                                                    <td><a href=""  style="text-decoration: underline"  ng-click="showToolsFromAlarms($event, alarmDetails.assetId)">{{alarmDetails.assetId}}</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sitesTab" ng-show="isSites">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Filter.." ng-model="querySites" id="filterSiteData">
                                    <div class="input-group-addon" ng-click="clearSiteFilter()" id="clearSiteData"><span class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="clearSiteFilter()"></span></div>
                                </div>
                                <div class="customTable">
                                    <table class="table">
                                        <thead class="active">
                                        <tr>
                                            <th id="siteIdFromSitesHeader">
                                                <a href="" ng-click="orderByField=sorterSiteFunc; reverseSort = !reverseSort">
                                                    Site ID <span ng-show="orderByField == sorterSiteFunc"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="siteAliasHeader">
                                                <a href="" ng-click="orderByField='aliasName'; reverseSort = !reverseSort">
                                                    Site Alias <span ng-show="orderByField == 'aliasName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                                </a>
                                            </th>

                                            <th id="siteLocationHeader">
                                                <a href="" ng-click="orderByField='location.city'; reverseSort = !reverseSort">
                                                    Location<span ng-show="orderByField == 'location.city'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                                </a>
                                            </th>
                                            <th id="siteStateHeader">
                                                <a href="" ng-click="orderByField='siteState'; reverseSort = !reverseSort">
                                                    Site State <span ng-show="orderByField == 'siteState'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                                                </a>
                                            </th>
                                            <th>Site Tools</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="site in sites | filter:searchSites |orderBy:orderByField:reverseSort" ng-class="{'selected':site.siteId == selectedRow}"
                                            ng-click="showSiteMap($event,site)" style="cursor: pointer">
                                            <td>{{site.siteId}}</td>
                                            <td>{{site.aliasName}}</td>
                                            <td>{{site.location.city}}, {{site.location.state}}</td>
                                            <td><span>{{site.siteState}}</span></td>
                                            <td><a href=""  style="text-decoration: underline" id="toolsList" ng-click="showToolsList(site.siteId)">View List</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-7 col-md-6 col-sm-12'>
            <div class='row map-container'>
                <div class='col-xs-12'>
                    <div class='panel panel-default'>
                        <div class='panel-heading' id="globalMapHeading">Map</div>
                        <div class='panel-body'>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row tool-availability-container'>
                <div class='col-xs-6' id="alarmsDiv">
                    <div class='panel panel-default availability-panel'>
                        <div class='panel-heading'>
                            <b id="alarmParetoHeading">Alarm Pareto</b>
                            <div class="pull-right" id="dateDiv">
                                <span class="glyphicon glyphicon-resize-full" ng-click="expandDiv()" id="expandParetoChart"></span>
                            </div>
                            <div class="pull-right" id="refreshDiv">
                                <span class="glyphicon glyphicon-refresh" id="refreshAlarms" style="cursor:pointer"></span>
                                <span class="glyphicon glyphicon-remove" ng-click="closeDiv()" id="closeParetoChart"></span>
                            </div>
                        </div>
                        <div class='panel-body'>
                            <div id="alarmsPareto"></div>
                            <div>
                                <div class="col-xs-6">
                                    <label for="severitySelect" style="color: #333333" id="severityLabel">Alarm Severity:</label>
                                    <select class="form-control" id="severitySelect">
                                        <option>All</option>
                                        <option>CRITICAL</option>
                                        <option>MAINTENANCE</option>
                                        <option>WARNING</option>
                                        <option>INFO</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label for="severityDays" style="color: #333333" id="daysLabel">Days:</label>
                                    <select class="form-control" id="severityDays">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option selected>7</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-6' id="mcbfDiv">
                    <div class='panel panel-default availability-panel'>
                        <div class='panel-heading'>
                            <b id="mcbfChartHeading">MCBF</b>
                            <div class="pull-right" id="dateMcbfDiv">
                                <span class="glyphicon glyphicon-resize-full" ng-click="expandMcbfDiv()" id="expandMcbfChart"></span>
                            </div>
                            <div class="pull-right" id="refreshMcbfDiv">
                                <span class="glyphicon glyphicon-refresh" id="refreshMcbf" style="cursor:pointer"></span>
                                <span class="glyphicon glyphicon-remove" ng-click="closeMcbfDiv()" id="closeMcbfChart"></span>
                            </div>
                        </div>
                        <div class='panel-body'>
                            <div id="mcbf"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>