// Bootstrap overrides
$gray-base: darken(#8b8178, 13.5);
$gray-darker: #8b8178;
$gray-dark: #a59d95;
$gray: #b7b1a9;
$gray-light: #c7c2ba;
$gray-lighter: #d5d2ca;
$brand-primary: #3095b4;
$brand-success: #a0d200;
$brand-danger: #cb0044;
$brand-warning: #f0ab00;
$brand-info: #5c7f92;
$body-bg: lighten($gray-lighter, 13.5);
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 20px;

// Navbar
$navbar-default-bg: $brand-primary;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-toggle-border-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-toggle-hover-bg: #fff;
$navbar-default-toggle-icon-bar-bg: #fff;

// Panels
$panel-default-heading-bg: $gray-lighter;
$panel-footer-bg: $gray-lighter;
$panel-default-text: $gray-darker;
$panel-default-border: $gray-light;

$footer-height: (15px * 3);
